body {
    background-color: #EFEAD8;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C7D36F;
    height: 3em;
}


img {
    width: 10%;
    align-items: center;
}

a {
    color: #00092C;
    margin: auto;
    font-weight: bolder;
    
}


h2 {
    text-align: center;
    color: darkgreen;   
    
}

h4 {
color: darkgreen;
}

.counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
    align-items: center;
}

.comprarBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
